.title {
	text-align: center;
	margin-bottom: 80px;
	font: 600 30px monospace;
}

.menu {
	margin-bottom: 38px;
}

.menu__name {
	cursor: pointer;
	margin-bottom: 18px;
	font: 600 22px monospace;
}

.menu__desc {
	margin-bottom: 10px;
	font: 500 17px/26px monospace;
}

.menu__endpoint {
	padding: 10px;
	border-radius: 6px;
	background-color: rgb(248, 248, 248);
	font: 500 17px/26px monospace;
}

.container {
	margin: 80px auto;
}

@media screen and (max-width: 599px) {
	.container {
		padding-left: 16px;
		padding-right: 16px;
	}
}

@media screen and (min-width: 600px) {
	.container {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media screen and (min-width: 905px) {
	.container {
		width: 840px;
	}
}

@media screen and (min-width: 1240px) {
	.container {
		padding-left: 200px;
		padding-right: 200px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		width: 1040px;
	}
}
